@import "tailwindcss";

body {
  font-family: "Outfit", sans-serif;
  background-color: #f8fafc;
}

@layer base {

  input:focus,
  textarea:focus,
  select:focus {
    @apply border-[#1e3a5f] ring-1 ring-[#1e3a5f] outline-none;
  }
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 2s linear infinite !important;
  }
}

table {
  width: 100%;
  min-width: 900px;
  border-collapse: separate;
  border-spacing: 0 6px;
  table-layout: fixed;
}

tbody>tr,
tbody>th,
tbody>td {
  height: 40px !important;
  max-height: 40px !important;
  min-height: 40px !important;
  vertical-align: middle !important;
}

thead th {
  height: 40px !important;
  color: #3a3a3c;
  font-size: 14px;
  font-weight: 600;
  padding: 0 10px !important;
  vertical-align: middle;
}

tbody td {
  max-width: 200px !important;
  height: 40px !important;
  font-size: 14px;
  color: #1d1d1f;
  padding: 0 10px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

tbody tr {
  background: #ffffff;
  transition:
    background 0.15s ease,
    transform 0.15s ease;
}

tbody tr:hover {
  transform: scale(1.002);
}

th.number,
td.number {
  width: 100px !important;
  min-width: 100px !important;
}

th.action,
td.action {
  width: 150px !important;
}